.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
  margin: 15px;
  gap: 348px;
}

.search {
  display: flex;
  background: #f0f2f5;
  padding: 8px 15px;
  border-radius: 20px;
  width: 250px;
}
.header-right{
  display: flex;
  align-items: center;
  gap: 20px;
}
.akaunt{
  display: flex;
}
.inson{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-icon{
  width: 43px;
  height: 43px;
  border: 1px solid #5A5A5A;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding-top: 10px;
  padding-left: 18px;
  background-color: #F4F4F4;
}
.weather{
  width:  70px;
  height: 50px;
  border-radius: 70%;
  border: 1px solid #5A5A5A;
  padding-top: 12px;
  padding-left: 12px;
}
.select{
  border: none;
  background: white;
  font-size: 14px;
  cursor: pointer;
}
.border{
  border: none;
  outline: none;  
  font-size: 20px;
  background-color: transparent;
}
.sidebar {
    transition: all 0.3s ease;
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    position: relative;
}

.sidebar.closed {
    width: 60px; 
    overflow: hidden;
}

.sidebar.closed h1{
  display: none;
}
.sidebar.closed p{
  display: none;
}
.sidebar.closed b {
  display: none;
}

.btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    padding: 10px;
}