* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.sidebar{
    width: 206px;
    height: 100vh;
    background-color: #ffffff;
    position: sticky;
    border: 1px solid yellow;
}

.sidebar h1 {
    width: 120px;
    height: 27px;
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    color: #110D0A;
        padding: 10px 25px;

}

.sidebar p {
    width: 38px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #110D0A;
        padding: 10px 20px;


}
nav ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}
.bar{
    padding: 10px 15px;
}
.sidebar {
    transition: all 0.3s ease;
    width: 250px;
    height: 100vh;
    background-color: #f4f4f4;
    position: relative;
}

.sidebar.closed {
    width: 60px; 
    overflow: hidden;
}

.sidebar.closed h1{
  display: none;
}
.sidebar.closed p{
  display: none;
}
.sidebar.closed b {
  display: none;
}

.btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
    padding: 10px;
}